 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Art Gallery</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">🎨 Art Gallery</a>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/artworks">Artworks</a>
    </div>
  </div>
</nav>

  <h1>🎨 Artist Gallery & Sales</h1>

  <div class="card-container">
   <% for(let i = 0; i < artPieces.length; i++){ %>
      <div class="card">
        <img src="<%= artPieces[i].image %>" alt="Art Image">
        <h2><%= artPieces[i].title %></h2>
        <p>Description: <%= artPieces[i].description %></p>
        <p>Medium: <%= artPieces[i].medium %></p>
        <p>Price: <%= artPieces[i].price %></p>
        <% if(artPieces[i].forSale){ %>
          <p>Status: Available</p>
        <% } else { %>
          <p>Status: Not Available</p>
        <% } %>
        
              </div>
              <% } %>
  </div>
</body>
</html>