 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Art Gallery</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <h1>🎨 Artist Gallery & Sales</h1>

  <div class="card-container">
   <% for(let i = 0; i < artPieces.length; i++){ %>
      <div class="card">
        <img src="<%= artPieces[i].image %>" alt="Art Image">
        <h2><%= artPieces[i].title %></h2>
        <p>Description: <%= artPieces[i].description %></p>
        <p>Medium: <%= artPieces[i].medium %></p>
        <p>Price: <%= artPieces[i].price %></p>
        <% if(artPieces[i].forSale){ %>
          <p>Status: Available</p>
        <% } else { %>
          <p>Status: Not Available</p>
        <% } %>
        
   <form onsubmit=" artPieces(event, '<%= artPieces[i]._id %>')">
     <input name="title" value="<%= artPieces[i].title %>" />
    <input name="description" value="<%= artPieces[i].description %>" />
  <input name="medium" value="<%= artPieces[i].medium %>" />
 <input name="image" value="<%= artPieces[i].image %>" />
   <input name="price" type="number" value="<%= artPieces[i].price %>" />
  <input name="forSale"  value="<%= artPieces[i].forSale %>" />
 <button type="submit">Post</button>
  </form>
              
              
              <button onclick="artPieces('<%= artPieces[i]._id %>')">Post</button>



                <form onsubmit="editArt(event, '<%= artPieces[i]._id %>')">
                  <input name="title" value="<%= artPieces[i].title %>" />
                  <input name="description" value="<%= artPieces[i].description %>" />
                  <input name="medium" value="<%= artPieces[i].medium %>" />
                  <input name="image" value="<%= artPieces[i].image %>" />
                  <input name="price" type="number" value="<%= artPieces[i].price %>" />
                  <input name="forSale"  value="<%= artPieces[i].forSale %>" />
                  <button type="submit">Update</button>
                </form>
              
              
              <button onclick="editArt('<%= artPieces[i]._id %>')">Update</button>

              
                <form onsubmit="deleteArt(event, '<%= artPieces[i]._id %>')">
                  <input name="title" value="<%= artPieces[i].title %>" />
                  <input name="description" value="<%= artPieces[i].description %>" />
                  <input name="medium" value="<%= artPieces[i].medium %>" />
                  <input name="image" value="<%= artPieces[i].image %>" />
                  <input name="price" type="number" value="<%= artPieces[i].price %>" />
                  <input name="forSale"  value="<%= artPieces[i].forSale %>" />
                  <button type="submit">Delete</button>
                </form>
              
              
              <button onclick="deleteArt('<%= artPieces[i]._id %>')">Delete</button>
              </div>
              <% } %>
  </div>
</body>
</html>