 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Grades</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <h1>🎨 Artist Gallery & Sales</h1>

  <div class="card-container">
    <% for(let i = 0; i < artists.length; i++){ %>
      <div class="card">
        <img src="<%= artists[i].image %>" alt="Profile Picture">
        <h2><%= artists[i].name %></h2>
        <p>Description: <%= artists[i].description %></p>
        <p>Price: <%= artists[i].price %></p>
        <% if(artists[i].forSale === true){ %>
          <p>forSale: Available </p>
       <% } else { %>
          <p>forSale: Not Available   </p>
       <% } %>
        

      </div>
    <% } %>
  </div>



  <div class="card">
                <form onsubmit="editArtists(event, '<%= artists[i]._id %>')">
                  <input name="name" value="<%= artists[i].name %>" />
                  <input name="description" value="<%= artists[i].description %>" />
                  <input name="medium" value="<%= artists[i].medium %>" />
                  <input name="image" value="<%= artists[i].image %>" />
                  <input name="price" type="price" value="<%= artists[i].price %>" />
                  <input name="forSale" type="Boolean" value="<%= artists[i].forSale %>" />
                  <button type="submit">Update</button>
                </form>
              </div>

              <button onclick="updateArtist('<%= artists[i]._id %>')">Update</button>
</body>
</html>